Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
list = ["Ankit",[2,3,4],2.3,(2,3,4)]
for i in list:
    print(i,type(i))

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [7]:
var1 = "" #var1 is str datatype
var2 = '[ DS , ML , Python]' #var2 is str datatype
var3 = [ 'DS' , 'ML' , 'Python' ] #var3 is list datatype
var4 = 1 #var4 is int datatype

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
2/3 #'/' operator is used for divison and it returns a floating datatype

0.6666666666666666

In [10]:
2%3 #'%' operator is also used in divison but it returns a remainder

2

In [11]:
2//3 #'//' operator is also used for divison but it returns a integer datatype

0

In [12]:
2**3 #'**' operator is used for exponent

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
list = [1,2.3,"ankit",[1,2,3],(1,2,3),{2,3,4},{2:3,"ankit":23}]
for i in list:
    print(i,type(i))

1 <class 'int'>
2.3 <class 'float'>
ankit <class 'str'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>
{2, 3, 4} <class 'set'>
{2: 3, 'ankit': 23} <class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [2]:
list = [2,3,4,45,36,9,23,66,69,15,89,86,83,82,12,18,24,88,44,90,144,56,80,233,456]
for i in list:
    if i%3 == 0:
        print(f"{i} It is divisible by 3")
    else:
        print(f"{i} Not divisible by 3")

2 Not divisible by 3
3 It is divisible by 3
4 Not divisible by 3
45 It is divisible by 3
36 It is divisible by 3
9 It is divisible by 3
23 Not divisible by 3
66 It is divisible by 3
69 It is divisible by 3
15 It is divisible by 3
89 Not divisible by 3
86 Not divisible by 3
83 Not divisible by 3
82 Not divisible by 3
12 It is divisible by 3
18 It is divisible by 3
24 It is divisible by 3
88 Not divisible by 3
44 Not divisible by 3
90 It is divisible by 3
144 It is divisible by 3
56 Not divisible by 3
80 Not divisible by 3
233 Not divisible by 3
456 It is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [6]:
#mutable datatypes are the once which can be changed after giving them a value for eg list,dictionaries
list = [2,4,5,6,6]
list[3] = 45
list  #---> output[2, 4, 5, 45, 6]

dict = {"name" : "Ankit","age" : 21,"sex" : "male"}
dict["name"] = "Anysingh"
dict #---> output{'name': 'Anysingh', 'age': 21, 'sex': 'male'}

In [12]:
#immutable datatypes are the once which cannot be changed after giving them a value for eg string,tuples,sets
str = "ankit singh gusain"
str[2] = "z"
str #---> gives us error that:'str' object does not support item assignment

tuples = (2,4,5,66,56)
tuples[2] = 0
tuples #---> gives us error that:'tuple' object does not support item assignment

THANKYOU SIR/MAAM